.App {
  background-color: rgb(253, 104, 104);
  display: grid;
  place-items: center;
  height: 100vh;
}
.app__heading {
  text-align: center;
}
.app__body {
  display: flex;
  background-color: rgb(255, 255, 255);
  /* border-radius: 20px; */
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.2);
}
.app__home {
  display: grid;
  width: 100%;
  place-items: center;
}
.app__home > span {
  width: fit-content;
  font-size: 20px;
}
